.settings {
	font-family: sans-serif;
	line-height: 30px;
	text-align: center;
	color: #505050;
	background-color: #fff;
	border-radius: 20px;
	width: 430px;
	height: 435px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.btn {
	border-width: 0px;
	border-radius: 3px;
	background: #1E90FF;
	cursor: pointer;
	outline: none;
	font-family: sans-serif;
	color: white;
	font-size: 13px;
	display: inline-block;
}

.streaming {
	border-width: 0px;
	border-radius: 3px;
	background: #ec857c;
	cursor: pointer;
	outline: none;
	font-family: sans-serif;
	color: white;
	font-size: 13px;
	font-weight: bold;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-name:breathe;
	-webkit-animation-duration:1000ms;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
}

@-webkit-keyframes breathe {
	0% { background-color: #ec857c; }
	100% { background-color: #b8271a; }
}

@keyframes breathe {
	0% { background-color: #ec857c; }
	100% { background-color: #b8271a; }
}

@-moz-keyframes breathe {
	0% { background-color: #ec857c; }
	100% { background-color: #b8271a; }
}

@-o-keyframes breathe {
	0% { background-color: #ec857c; }
	100% { background-color: #b8271a; }
}

input {
	color: #505050;
	outline-style: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 2px 0px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}

a { text-decoration:none; }
