#player {
	background-color: #1f1e1f;
}
	
.settings {
	background-color: #302f30;
	color: #bdc1c6;
}
	
body {
	background-color: #302f30;
}
	
input {
	background-color: #303134;
	border: 1px solid #5f6368;
	color: #bdc1c6;
}
	
select {
	background-color: #535457;
	border: 1px solid #535457;
	color: #dcdcdd;
}
	
hr {
	background-color: #5f6368;
}
	
a { 
	color: #1E90FF;
}
	
.thanks {
	color: #535457;
}